/*style*/
* {
	box-sizing: border-box;
}

main {
	justify-content: space-between;
	padding: 20px;
}

h1 {
   margin-bottom: 15px;
   text-align: center;
   color: #000002;
   background-color: #FF0000;
   font-size: 70px;
   font-family: serif;
}

section {
	position: relative;
	margin: auto;
	padding-left: auto;
	padding-right: auto;
	width: 90%;
}

p {
	position: relative;
	clear: right;
}

div {
	position: relative;
	background-color: gray;
	border: 3.5px solid black;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.p1 {
	float: right;
	width: 100px;
	padding: 10px;
	margin: -3px -3px 0px;
	border: 3.5px solid black;
	text-align: center;
	font-size: 125%;
	font-weight: bold;
	font-family: serif;
	background-color: #FFB6C1;

}

.p2 {
	float: right;
	color: white;
	width: 100px;
	padding: 10px;
	margin: -3px -3px 0px;
	border: 3.5px solid black;
	text-align: center;
	font-size: 125%;
	font-weight: bold;
	font-family: serif;
	background-color: #FF0000;

}

.p3 {
	color: black;
	float: right;
	width: 100px;
	padding: 10px;
	margin: -3px -3px 0px;
	border: 3.5px solid black;
	text-align: center;
	font-size: 125%;
	font-weight: bold;
	font-family: serif;
	background-color: rgb(223, 212, 121);

}

.data {
	box-sizing: border-box;
	padding: 20px;
	border: none;
	background-color: gray;
	font-family: sans-serif;
	color: black;
	margin: 3px;
	height: 150px;
	overflow: auto;
}

.row {
	width: 100%;
}

/*desktop size*/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}
}

/*tablet size*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.col-md-12 {
		float: left;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

/*mobile size*/
@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		width: 100%;
	}
}
