*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #9e1f4e;
}
body{
	background-color: #61122F;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#ffffff; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: rgb(73, 73, 73);
}
.text-center{
	font-size: 30px;
}

h1{
    font-family: serif;
    font-size: medium;
}

h2{
	text-align: center;
    font-family: serif;
}

#content{
    text-align: justify;

}

#myNavbar ul li a {
	color: #ffffff;
}
.navbar-brand{
font-size: 30px;	
}
